<!DOCTYPE html>
<html lang=ru
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
</head>
<body>
<h3>Навигация</h3>
<nav>
    <ul>
        <li><a th:href="@{/statistics/animals}">Животные</a></li>
        <li><a th:href="@{/statistics/finances}">Финансы</a></li>
        <li><a th:href="@{/statistics/orders}">Заказы</a></li>
        <li><a th:href="@{/statistics/clients}">Новые клиенты</a></li>
    </ul>
</nav>
</body>
</html>